@media screen and (max-width: 1224px) {
  .header-container {
    display: flex;
    padding: 7px 4px;
    align-items: center;
  }
  .header-buttons-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
  }
}